$separator-width: 3rem;
$separator-height: 0.4rem;
$separator-color: $secondary;

$content-wrapper-padding: (
  xs: 0rem 1.25rem,
  sm: 0rem 1.25rem,
  md: 0rem 4rem,
  lg: 0rem 4rem,
  xl: 0rem 10rem,
);

$responsive-size-squares: (
  xs: 5rem,
  sm: 7rem,
  md: 8rem,
  lg: 8rem,
  xl: 8rem,
);

$last-child-section-padding-bottom: 3rem;

$section-mini-footer-min-height: 4rem;
$section-searchbox-height: 4rem;

$responsive-side-image-width: (
  xs: 100%, // unused yet
  sm: 100%, // unused yet
  md: 75%,
  lg: 85%,
  xl: 90%,
);

$borders-thickness: (1,2,3,4,5,6,7,8,9,10); // based on px unit