$primary: #2F3185;
$primary-darken: #25277d;
$secondary: #F5C13A;
$secondary-darken: #e8b535;
$dark: #393939;
$gray: #9e9e9e;
$light-blue: #F5F9FF;
$light-gray: #F0F0F0;
$light-secondary: #FFFBEF;
$dark-green: #055E1C;
$tosca: #1CBDB3;
$black: #252525;